*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #383838;
  letter-spacing: 0.2px;
  font-family: Pragmatica;
}

img {
  object-fit: cover;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/BOLD/HomepageBaukasten-Bold.otf") format("opentype"), url("../fonts/BOLD/HomepageBaukasten-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/Gotham-Rounded-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Nimbus Sans Light";
  src: url("../fonts/Nimbus-Sans-D-OT-Light_32752.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Pragmatica Medium";
  src: url("../fonts/PragmaticaMedium.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Free Sans Bold";
  src: url("../fonts/FreeSans.otf") format("opentype"), url("../../fonts/Free-Sans/FreeSansBold.ttf") format("truetype");
  font-weight: 700;
}
body {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #383838;
  transition: all 0.4s;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}

.main-navbar {
  background-color: #383838;
  padding-left: 40px;
}

.main-logo {
  width: 58px;
  height: 50px;
  border-radius: 50px;
}

.main-logo-text {
  font-family: free FreeSansBold;
}

.home-active {
  color: #d35266 !important;
}

.post-ad {
  padding-top: 0px;
}

.main-info-mail svg {
  font-size: 30px;
  color: #fff;
}

.unread-num {
  position: absolute;
  color: #fff;
  font-size: 10px;
  top: 2px;
  left: 18px;
  background-color: #d35266;
  padding: 2px;
  width: 12px;
  font-weight: 800;
  height: 14px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.main-nav-info {
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.name-text {
  font-family: free FreeSansBold;
  text-decoration: none;
}

.user-img {
  width: 30px;
  border-radius: 50px;
  object-fit: cover;
}

.search-section {
  padding: 6rem 0 4rem 0;
  background-color: #d35266;
}

.search-area {
  width: 96%;
  margin: 0 auto;
  max-width: 120rem;
}

.search-area-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-section-header {
  font-size: 49px;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
}

.search-section-header-sub {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 60px;
}

select {
  background: #fff url(https://api.iconify.design/ant-design:caret-down-filled.svg) no-repeat;
  background-position: 0.5rem center;
  padding: 1rem 1rem 1rem 2.4rem;
  line-height: 1;
}

.search-dropdown {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  line-height: 1;
  font-size: 1.5rem;
  background-color: #fff;
  font-family: inherit;
  margin-right: 1px;
}

.search-dropdown option {
  font-family: Gotham Sans;
}

.search-input {
  padding: 1rem 1rem 1rem 2.4rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  margin-right: 1px;
  width: 30%;
}

.search-result-btn {
  background-color: #383838;
  color: #888;
  padding: 13px;
  font-size: 20px;
  width: 9rem;
  margin-left: 2rem;
  text-align: center;
}

.hot-ad-main {
  width: 97%;
  margin: 0 auto;
  max-width: 120rem;
  position: relative;
  padding: 3rem 0 3rem 0;
}

.hot-ad-container {
  width: 76%;
  margin: 0 auto;
}

.hot-ad-heading {
  font-size: 1.5rem;
}

.ad-img {
  width: 74%;
  object-fit: cover;
}

.img-arrow {
  background-color: #383838;
  padding-left: 15px;
  padding-top: 6px;
  position: absolute;
  bottom: 0px;
  right: 140px;
  width: 6rem;
  height: 2rem;
}

.img-arrow:hover {
  opacity: 0.6;
}

.img-arrow-links {
  color: #d35266;
  font-size: 1.3rem;
  display: inline-flex;
  justify-content: space-between;
}

.ad-second-para {
  font-weight: 600;
}

.ad-para-1 span {
  font-weight: 400;
}

.ad-header {
  color: #d35266;
  font-size: 2rem;
}

.hot-purchase {
  max-width: 26rem;
  background-color: #d35266;
  border-radius: 0.2rem;
  display: flex;
}

.hot-price {
  color: #fff;
  border-right: 1px solid #777;
  padding: 0 3.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.hot-purchase-btn {
  color: #fff;
  padding: 0 3.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.hot-ad-arrow {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 185px;
}

.arrow-links {
  border: 1px solid #ccc;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d35266;
}

.product-main {
  width: 100%;
  background-color: #f6f6f6;
}

.perfume-product-main {
  padding: 3rem 0 4rem 0;
  max-width: 62.1543125rem;
  margin: 0 auto;
}

.perfume-product-title {
  display: flex;
  align-items: center;
}

.perfume-product-para {
  font-weight: 400;
  font-size: 1rem;
  color: #9e9c9c;
}

.perfume-product-heading {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.perfume-product-heading .iconify {
  margin-right: 1rem;
}

.carousel-info {
  display: block;
  height: auto;
  text-align: left;
  margin-top: -15px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;
  width: 12.375rem;
  padding-bottom: 3.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.perfume-carousel-wrapper {
  grid-template-columns: repeat 5, 1fr;
  padding: 3rem 0 4rem 0;
  max-width: 62.1543125rem;
  margin: 0 auto;
}

.carousel-img {
  width: 12.375rem;
}

.carousel-heading {
  font-size: 1rem;
  padding-top: 0.5rem;
  font-weight: 700;
}

.prefume-status {
  font-size: 0.9rem;
  color: #d35266;
}

.prefume-brand {
  font-size: 0.9rem;
  font-weight: 300;
}

.carousel-footer {
  width: 100%;
  display: flex;
  padding: 0 1rem 1rem 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  position: absolute;
  bottom: 0;
}

.foot-btn {
  border: 1px solid #777;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
}