@font-face {
  font-family: "Gotham";
  src: url("../fonts/BOLD/HomepageBaukasten-Bold.otf") format("opentype"), url("../fonts/BOLD/HomepageBaukasten-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/Gotham-Rounded-Light.otf") format("opentype");
  font-weight: 300; }

@font-face {
  font-family: "Nimbus Sans Light";
  src: url("../fonts/Nimbus-Sans-D-OT-Light_32752.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Pragmatica Medium";
  src: url("../fonts/PragmaticaMedium.otf") format("opentype");
  font-weight: 400; }

@font-face {
  font-family: "Free Sans Bold";
  src: url("../fonts/FreeSans.otf") format("opentype"), url("../../fonts/Free-Sans/FreeSansBold.ttf") format("truetype");
  font-weight: 700; }

body {
  width: 100%;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #383838;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

a:hover {
  opacity: 0.8;
  text-decoration: none; }

.main-navbar {
  background-color: #383838;
  padding-left: 40px; }

.main-logo {
  width: 58px;
  height: 50px;
  border-radius: 50px; }

.main-logo-text {
  font-family: free FreeSansBold; }

.active-home a {
  color: #d35266; }

.main-info-mail svg {
  font-size: 30px;
  color: #fff; }

.unread-num {
  position: absolute;
  color: #fff;
  font-size: 10px;
  top: 2px;
  left: 18px;
  background-color: #d35266;
  padding: 2px;
  width: 12px;
  font-weight: 800;
  height: 14px;
  display: flex;
  align-items: center;
  border-radius: 3px; }

.main-nav-info {
  justify-content: center;
  align-items: center;
  margin-right: 50px; }

.name-text {
  font-family: free FreeSansBold;
  text-decoration: none; }

.user-img {
  width: 30px;
  border-radius: 50px; }

.search-section {
  padding: 6rem 0 4rem 0;
  background-color: #d35266; }

.search-area {
  width: 96%;
  margin: 0 auto;
  max-width: 120rem; }

.search-area-form {
  display: flex;
  align-items: center;
  justify-content: center; }

.search-section-header {
  font-size: 49px;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center; }

.search-section-header-sub {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 60px; }

select {
  background: #fff url(https://api.iconify.design/ant-design:caret-down-filled.svg) no-repeat;
  background-position: 0.5rem center;
  padding: 1rem 1rem 1rem 2.4rem;
  line-height: 1; }

.search-dropdown {
  appearance: none;
  border: none;
  outline: none;
  line-height: 1;
  font-size: 1.5rem;
  background-color: #fff;
  font-family: inherit;
  margin-right: 1px; }

.search-dropdown option {
  font-family: Gotham Sans; }

.search-input {
  padding: 1rem 1rem 1rem 2.4rem;
  appearance: none;
  border: none;
  outline: none;
  margin-right: 1px;
  width: 30%; }

.search-result-btn {
  background-color: #383838;
  color: #888;
  padding: 13px;
  font-size: 20px;
  width: 9rem;
  margin-left: 2rem;
  text-align: center; }
