// CSS RESET
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

// VARIABLES

$primary-color: #d35266;
$secondary-color: #888;
$tertiary-color: #383838;
$light-grey: #f6f6f6;
$color-white: #fff;
$color-ex-light-grey: #ccc;
$font-size-1: 1.5rem;

// Fonts Section
@font-face {
  font-family: "Gotham";
  src:
    url("../Fonts/Gotham-Font/Gotham-Font/Gotham-Bold.otf") format("opentype"),
    url("../Fonts/Gotham-Font/Gotham-Font/GothamBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("../Fonts/Gotham_Rounded_Light/Gotham_Rounded_Light/Gotham-Rounded-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Nimbus Sans Light";
  src: url("../Fonts/Nimbus-Sans-D-OT-Light_32752.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Pragmatica Medium";
  src: url("../Fonts/PragmaticaMedium.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Free Sans Bold";
  src: url("../Fonts/Nimbus-Sans-D-OT-Ultra-Light_32757.ttf") format("truetype");
  font-weight: 700;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: $tertiary-color;
  letter-spacing: 0.2px;
  font-family:
    "Nimbus Sans Light",
    sans-serif;
  width: 100%;
  margin: 0 auto;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: $secondary-color;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
  color: $tertiary-color;
}

// Navbar Section
.main-navbar {
  background-color: $tertiary-color;
  padding-left: 40px;
}

.main-logo {
  width: 58px;
  height: 50px;
  border-radius: 50px;
}

.main-logo-text {
  font-family:
    "Gotham",
    sans-serif;
  font-size: 1.6rem;
}

.home-active {
  color: $primary-color !important;
}

.post-ad {
  padding-top: 0;
}

.btn-post {
  color: $color-white;
  background-color: $primary-color;
}

.main-info-mail svg {
  font-size: 30px;
  color: $color-white;
}

.unread-num {
  position: absolute;
  color: $color-white;
  font-size: 10px;
  top: 2px;
  left: 18px;
  background-color: $primary-color;
  padding: 2px;
  width: 12px;
  font-weight: 800;
  height: 14px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.main-nav-info {
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.name-text {
  font-family:
    "Free Sans Bold",
    sans-serif;
  text-decoration: none;
}

.user-img {
  width: 30px;
  border-radius: 50px;
  object-fit: cover;
}

// search page section
.search-section {
  padding: 6rem 0 4rem 0;
  background-color: $primary-color;
}

.search-area {
  width: 96%;
  margin: 0 auto;
  max-width: 120rem;
}

.search-area-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-section-header {
  font-size: 49px;
  font-weight: 700;
  color: $color-white;
  display: flex;
  justify-content: center;
}

.search-section-header-sub {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: $color-white;
  margin-bottom: 60px;
}

select {
  background: $color-white url("https://api.iconify.design/ant-design:caret-down-filled.svg") no-repeat;
  background-position: 0.5rem center;
  padding: 1rem 1rem 1rem 2.4rem;
  line-height: 1;
}

.search-dropdown {
  appearance: none;
  border: none;
  outline: none;
  line-height: 1;
  font-size: $font-size-1;
  background-color: $color-white;
  font-family: inherit;
  margin-right: 1px;
}

.search-dropdown option {
  font-family:
    "Gotham",
    sans-serif;
}

.search-input {
  padding: 1rem 1rem 1rem 2.4rem;
  appearance: none;
  border: none;
  outline: none;
  margin-right: 1px;
  width: 30%;
}

.search-result-btn {
  background-color: $tertiary-color;
  color: $secondary-color;
  padding: 13px;
  font-size: 20px;
  width: 9rem;
  margin-left: 2rem;
  text-align: center;
}

// RESULT CONTAINER

main {
  background-color: #f6f6f6;
}

.result-container {
  border-right: 1px solid $color-ex-light-grey;
  border-left: 1px solid $color-ex-light-grey;
  position: relative;
  width: 94%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  padding-left: 2rem;
}

.search-options {
  width: 30%;
}

.result-des {
  border-bottom: 1px solid $color-ex-light-grey;
  padding: 1rem;
}

.result-des-para span {
  font-family:
    "Free Sans Bold",
    sans-serif;
}

.result-des-catlog {
  border-bottom: 1px solid $color-ex-light-grey;
  margin-bottom: 0.8rem;
}

.des-catlog-heading {
  font-family:
    "Gotham",
    sans-serif;
  font-size: 1.7rem;
}

.des-catlog-status {
  font-family:
    "Free Sans Bold",
    sans-serif;
  color: $primary-color;
  font-size: 1.3rem;
  line-height: 1;
}

.des-catlog-brand span {
  font-family:
    "Nimbus Sans Light",
    sans-serif;
}

.result-option-main {
  margin-bottom: 1rem;
}

.result-display {
  border-left: 1px solid $color-ex-light-grey;
}

.des-article-wrap {
  display: flex;
  padding: 0.5rem;
}

.des-catlog-info {
  padding: 1.5rem;
}

.des-catlog-info:hover {
  background-color: $color-white;
}

.des-catlog-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.des-bottom-purchase {
  max-width: 22rem;
  background-color: $primary-color;
  border-radius: 0.2rem;
  display: flex;
}

.des-bottom-purchase span {
  font-size: 1rem;
}

.purchase-price {
  color: $color-white;
  border-right: 1px solid #777;
  padding: 0 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.add-to-cart-btn {
  color: $color-white;
  padding: 0.6rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.des-image {
  width: 30rem;
  object-fit: cover;
  height: 24rem;
}

// Result Page Section
.result-page-numbering {
  padding: 3rem 0 8rem 0;
  align-items: center;
  border-top: 1px solid $color-ex-light-grey;
}

.result-page-container {
  max-width: 30rem;
  margin: 0 auto;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.result-page-link {
  border: 1px solid $color-ex-light-grey;
  background-color: $color-white;
  padding: 0.4rem 0.4rem;
  font-size: 1.3rem;
  border-radius: 3px;
  color: #777;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1.8rem;
}

.result-page-link:hover,
.result-page-link.active {
  background-color: #d35266;
  color: #fff;
  border-color: #d35266;
  opacity: 1;
}
// FOOTER SECTION
.footer-wrapper {
  width: 100%;
  background-color: #fff;
  padding-top: 2rem;
  border-top: 1px solid #ccc;
  margin-bottom: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
  grid-gap: 2.5rem;
}

.footer-wrapper-main hr {
  color: $primary-color;
}

.f-w-container-list {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
}

.f-w-list {
  font-size: 1rem;
}

.f-w-4 {
  padding-top: 2rem;
}

.f-w-country {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.lang {
  margin-left: -0.75em;
}

.country-d-d {
  appearance: none;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.8rem;
}

.f-w-2-header {
  padding-right: 0.8rem;
  font-size: 1rem;
}

.f-w-option {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-main-footer {
  border-top: 1px solid #ccc;
}

.main-bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-right {
  font-size: 0.8rem;
  padding: 1rem;
}

.bottom-left {
  max-width: 16rem;
  width: 100%;
  padding: 1rem 0;
}

.f-text {
  font-size: 1rem;
  line-height: 1.3rem;
}

.social-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-items {
  font-size: 1.5rem;
  color: $secondary-color;
}

// MEDIA QUERY SECTION

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .des-image {
    width: 14rem;
    object-fit: cover;
    height: 14rem;
  }

  .search-options {
    width: 48%;
  }

  .result-header {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .result-des-para {
    font-size: 0.9rem;
  }

  .checkbox-label {
    font-size: 0.9rem;
  }

  .des-catlog-heading {
    font-family: "Gotham", sans-serif;
    font-size: 1rem;
  }

  .des-catlog-status {
    font-family: "Free Sans Bold", sans-serif;
    color: #d35266;
    font-size: 1rem;
    line-height: 1;
  }

  .purchase-price {
    color: #fff;
    border-right: 1px solid #777;
    padding: 0 2rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
  }

  .des-bottom-purchase span {
    font-size: 0.8rem;
  }

  .add-to-cart-btn {
    color: #fff;
    padding: 0.6rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .f-w-3 {
    display: none;
  }

  .footer-wrapper {
    width: 100%;
    background-color: $color-white;
    padding-top: 2rem;
    border-top: 1px solid #ccc;
    margin-bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    grid-gap: 2.5rem;
  }

  .bottom-left {
    max-width: 13rem;
    width: 100%;
    padding: 1rem 0;
  }

  .f-w-list {
    padding-right: 0.8rem;
    font-size: 1rem;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }

  .search-area-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .search-section-header {
    font-size: 43px;
    font-weight: 700;
    color: $color-white;
    display: flex;
    justify-content: center;
  }

  .search-section-header-sub {
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: $color-white;
    margin-bottom: 60px;
  }

  .search-dropdown {
    margin-bottom: 0.1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    line-height: 1;
    font-size: 1.5rem;
    background-color: #fff;
    font-family: inherit;
    margin-right: 1px;
    width: 89%;
  }

  .search-input {
    margin-bottom: 0.1rem;
    padding: 1rem 1rem 1rem 2.4rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    margin-right: 1px;
    width: 89%;
  }

  .search-result-btn {
    margin-left: 0;
    background-color: $tertiary-color;
    color: $secondary-color;
    padding: 13px;
    font-size: 20px;
    width: 89%;
    text-align: center;
  }

  .result-container {
    position: relative;
    width: 98%;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    padding: 0;
    border: none;
  }

  .result-des-para {
    font-size: 0.9rem;
    text-align: center;
  }

  .result-display {
    border: none;
  }

  .des-image {
    width: 18rem;
    object-fit: cover;
    height: 14rem;
  }

  .des-catlog-heading {
    font-family: "Gotham", sans-serif;
    font-size: 1rem;
  }

  .des-catlog-bottom {
    display: block;
  }

  .des-catlog-date {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
  }

  .search-options {
    display: none;
  }

  .des-article-wrap {
    display: block;
  }

  .result-page-container {
    max-width: 18rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  .footer-wrapper {
    display: block;
  }

  .main-bottom-wrap {
    display: block;
  }

  .f-w-container-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .f-w-list {
    flex: 1;
  }

  .bottom-right {
    font-size: 0.9rem;
    padding: 1rem;
  }

  .main-logo {
    width: 91px;
    height: 50px;
    border-radius: 50px;
  }

  .main-logo-text {
    font-size: 1.3rem;
    font-family:
      "free FreeSansBold",
      sans-serif;
  }

  .bottom-left {
    max-width: 20rem;
    width: 100%;
    padding: 1rem 0;
  }

  .f-w-3 {
    display: flex;
    flex-direction: column;
  }
}
